# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# clangd
.cache/*

# VSCode
.vscode/*
!.vscode/tasks.json

# Visual Studio
.vs/

# Godot 4+ specific ignores
.godot/
game/bin/openvic/*

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.pdb
*.lib
bin/*
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# MacOS stuff
.DS_Store

*.translation
!game/common/map/*.obj

# JetBrains
.idea

# clangd
.cache
compile_commands.json
src/openvic-simulation/testing/test_results/results.txt

# ccls
.ccls-cache

# Generated source files
src/openvic-simulation/gen/*

# CMake out-of-source build directory
out/
CMakeUserPresets.json
