[submodule "deps/openvic-dataloader"]
	path = deps/openvic-dataloader
	url = https://github.com/OpenVicProject/OpenVic-Dataloader
[submodule "scripts"]
	path = scripts
	url = https://github.com/OpenVicProject/scripts
[submodule "deps/lexy-vdf"]
	path = deps/lexy-vdf
	url = https://github.com/OpenVicProject/lexy-vdf
[submodule "deps/ordered-map"]
	path = deps/ordered-map
	url = https://github.com/Tessil/ordered-map
[submodule "deps/plf_colony"]
	path = deps/plf_colony
	url = https://github.com/mattreecebentley/plf_colony
[submodule "tests/deps/snitch"]
	path = tests/deps/snitch
	url = https://github.com/snitch-org/snitch
	ignore = dirty
