[submodule "deps/openvic-dataloader"]
	path = deps/openvic-dataloader
	url = https://github.com/OpenVicProject/OpenVic-Dataloader
[submodule "scripts"]
	path = scripts
	url = git@github.com:OpenVicProject/scripts
